* {
  /2 numbers is top and bottom.
    3 numbers is top, both sides, and bottom:
    4 numbers is all sides with various sizes/
  border:solid 1px lightgrey;
  margin: auto;
  padding: 20px 20px 20px;
  width: auto;
}

.container {
  width: auto;
}

h1 {
  background-color: blueviolet;
  color: yellowgreen
}

h2 {
  background-color: red;
  color: green;
}

h3 {
  background-color: purple;
  color: gold;
}

h4 {
  background-color: orange;
  color: pink;
}

h5 {
  background-color: green;
  color: blue;
}

.lightgrey {
  color:lightskyblue;
}

.bluelist {
  color:darksalmon;
  background-color:darkseagreen;
}

.picturesize {
  widows: 100px;

}

.textposition {
  text-align: center;
}

#content {
  text-align: center;
}

.facepicsize {
  width: 350px;
  height: 350px;
}
* {
  /*2 numbers is top and bottom.
    3 numbers is top, both sides, and bottom:
    4 numbers is all sides with various sizes*/
  border:solid 1px lightgrey;
  margin: auto;
  padding: 20px 20px 20px;
  width: auto;
}

.container {
  width: auto;
}

h1 {
  background-color: blueviolet;
  color: yellowgreen
}

h2 {
  background-color: red;
  color: green;
}

h3 {
  background-color: purple;
  color: gold;
}

h4 {
  background-color: orange;
  color: pink;
}

h5 {
  background-color: green;
  color: blue;
}

.lightgrey {
  color:lightskyblue;
}

.bluelist {
  color:darksalmon;
  background-color:darkseagreen;
}

.picturesize {
  widows: 100px;

}


.textposition {
  text-align: center;
}

#content {
  text-align: center;
}

.facepicsize {
  width: 350px;
  height: 350px;
}
