* {
  /*2 numbers is top and bottom.
    3 numbers is top, both sides, and bottom:
    4 numbers is all sides with various sizes*/
  border:solid 1px rgb(12, 12, 12);
  margin: auto;
  padding: 20px 20px 20px;
  width: auto;
  color: black;
}
a {
  text-decoration: none;
}
.flt-lft {
  float: left;
  margin-right: 20px;
}
figure + p {
  background-color: greenyellow;
}
.hr {
  margin: 20px;
}
figure ~ p {
  color: yellow;
}
li{
  border: solid 1px; color:red;
  color: blue
}
.container {
  width: 960;
  margin: auto;
  background-color: gray;

}

h1 {
  background-color: gray;
  color: rgb(10, 15, 1);
}

h2 {
  background-color: red;
  color: green;
}

h3 {
  background-color:gray;
  color:black;
  border-radius: 30px;
  text-align: center;
  border: 30px;
  padding: 20px;
}
h4 {
  background-color: orange;
  color: rgb(14, 1, 3);
}

h5 {
  background-color: green;
  color: blue;
}

.lightgrey {
  color: gray;
}

.bluelist {
  color:darksalmon;
  background-color:darkseagreen;
}
.picturesize {
  widows: 100px;
}
.textposition {
  text-align: center;
}
#content {
  text-align: center;
  border-radius: 20px;
  background-color: gray;
}
div {
  background-color: chartreuse;

}
.facepicsize {
  width: 350px;
  height: 350px;
}
li:first-child {
  margin-right: 50px;
}
.links:hover {
  background-color: black;
}
ul li:last-child {
  background-color: cornflowerblue;
}
.container {
  width: auto;
}
.links {
  background-color: red;
  border-radius: 20px;
}
#nav {
  text-align: center;
  background-color: grey;
}
.picturesize {
  widows: 100px;
}
html {
  background-color: grey;
}
.textposition {
  text-align: center;
}
#content {
  text-align: center;
}
.facepicsize {
  width: auto;
  height: auto;
  align-content: center;
}
.facepic:hover {
  background-color: rgb(0, 0, 0);

}
