* {
  /2 numbers is top and bottom.
    3 numbers is top, both sides, and bottom:
    4 numbers is all sides with various sizes/
  border:solid 1px lightgrey;
  margin: auto;
  padding: 20px 20px 20px;
  width: auto;
}
li{
  border: solid 1px: color:red;
  color: blue
}
.container {
  width: auto;
}

h1 {
  background-color: rgb(201, 242, 255);
  color: rgb(10, 15, 1)
}

h2 {
  background-color: red;
  color: green;
}

h3 {
  background-color: purple;
  color: gold;
}

h4 {
  background-color: orange;
  color: pink;
}

h5 {
  background-color: green;
  color: blue;
}

.lightgrey {
  color:lightskyblue;
}

.bluelist {
  color:darksalmon;
  background-color:darkseagreen;
}

.picturesize {
  widows: 100px;

}

.textposition {
  text-align: center;
}

#content {
  text-align: center;
}

.facepicsize {
  width: 350px;
  height: 350px;
}
li:first-child {
  margin-right: 50px;

}
.container {
  width: auto;
}

h1 {
  background-color: gray;
  color: rgb(0, 0, 0)
}

h2 {
  background-color: red;
  color: green;
}

h3 {
  background-color: purple;
  color: gold;
}

h4 {
  background-color: orange;
  color: pink;
}

h5 {
  background-color: green;
  color: blue;
}

.lightgrey {
  color:lightskyblue;
}

.bluelist {
  color:darksalmon;
  background-color:darkseagreen;
}
#nav {
  text-align: center;
  background-color: grey;

}

.picturesize {
  widows: 100px;

}
html {
  background-color: grey;

}

.textposition {
  text-align: center;
}

#content {
  text-align: center;
}

.facepicsize {
  width: auto;
  height: auto;
  align-content: center;
}
.facepic {
  background-color: rgb(236, 14, 14);
}
